*{
  margin: 0;
  padding: 0;
}
.height-15
{
  height: 70px;;
}
.specfic
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.font-size{
  font-size: 40px;
}
.red{
  color:red;
}
.green
{
  color: green;
}
.font-size-14
{
  font-size: 20px;
}

.hoverin:hover + button
{
  display: block;
}
.hoverout
{
  display: none;
}
button.btn_hover:hover
{
  font-size: 95%;
  background-color: red;
  color: white;
}
div.div_hover:hover
{
  font-size: 120%;
  font-weight: bold;
}
.marg
{
  margin-left: 0;
}